.statistics {
  border: 1px solid #dddddd;
  /* padding-top: 20px;
  padding-bottom: 10px; */

  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;

  width: 300px;
}

.statistics .stat-list {
  padding: 10px;
  display: flex;
  list-style: none;
}

.statistics .stat-list li {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
}

.statistics .label {
  color: gray;
  width: 100%;
}

.statistics .percentage {
  font-size: large;
  font-weight: bold;
  width: 100%;
}
