.App {
  text-align: center;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.friend-list {
  list-style: none;

  width: 424px;

  display: flex;
  border: 1px solid #dddddd;
  padding-top: 20px;
  padding-bottom: 10px;

  margin-right: auto;
  margin-left: auto;
}

.friend-list li {
  margin-right: 50px;
}

.friend-list li::before {
  content: "\2022";
  font-size: xx-large;

  line-height: 20px;
  vertical-align: center;
  display: inline-block;
  width: 15px;
  margin-left: -1em;
}

.friend-list li.offline::before {
  color: red;
}

.friend-list li.online::before {
  color: green;
}

.transaction-history {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.transaction-history th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.transaction-history td {
  border: 1px solid #dddddd;
  padding: 5px;
}
